html {
  font-size: 62.5%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  border: 0;
}

body {
  background-color: #424040 !important;
}

.border-b-custom {
  border-bottom: 1px solid rgb(63, 63, 70);
}

.border-green-darken-4 {
  border-width: 1px !important;
  border-color: #1b5e20 !important;
}

.rounded-be-xl {
  border-bottom-right-radius: 24px;
}

.rounded-te-xl {
  border-top-right-radius: 24px;
}

.rounded-te {
  border-top-right-radius: 4px;
}

.rounded-ts {
  border-top-left-radius: 4px;
}

.text-10 {
  font-size: 10px !important;
}

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 1rem;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-decoration-none {
  text-decoration: none;
}

.font-medium {
  font-weight: 500;
}

.w-5 {
  width: 1.25rem;
}

.w-7 {
  width: 28px;
}

.w-3 {
  width: 0.75rem;
}

.w-20px {
  width: 20px;
}
.w-30px {
  width: 30px;
}

.w-100px {
  width: 100px;
}

.w-33p {
  width: 33.33333%;
}

.w-40p {
  width: 40%;
}

.w-60p {
  width: 60%;
}

.w-66p {
  width: 66.66667%;
}

.min-w-100 {
  min-width: 100%;
}

.max-w-600px {
  max-width: 600px;
}

.h-3 {
  height: 0.75rem;
}

.h-5 {
  height: 1.25rem;
}

.h-7 {
  height: 28px;
}

.h-15 {
  height: 60px;
}

.h-12 {
  height: 3rem;
}

.h-24 {
  height: 6rem;
}

.h-12_5 {
  height: 12.5rem;
}

.min-h-40px {
  min-height: 40px;
}

.h-30px {
  height: 30px;
}

.h-100px {
  height: 100px;
}

.h-80 {
  height: 20rem;
}

.capitalize {
  text-transform: capitalize;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate,
.whitespace-nowrap {
  white-space: nowrap;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}
.object-center {
  object-position: center;
}

.uppercase {
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}

.transition-all-ease {
  transition: all 0.3 ease;
}

.hover-opacity-80:hover {
  opacity: 0.8;
}

.hover-scale-105:hover {
  transform: scale(1.05);
}

.hover-text-green-lighten-2:hover {
  color: #388e3c !important;
}

.hover-text-green-darken-1:hover {
  color: #43a047 !important;
}

.hover-text-grey-darken-4:hover {
  color: #212121 !important;
}

.hover-bg-green-lighten-2:hover {
  background-color: #388e3c;
}

.hover-text-underline:hover {
  text-decoration: underline;
}

.z-30 {
  z-index: 30;
}

.outline-none {
  outline: none;
}

.focus-outline-none:focus {
  outline: none;
}

.user-none {
  user-select: none;
}

.v-pagination__item {
  background-color: #414144;
  border-radius: 8px;
}

.v-pagination__item--is-active {
  background-color: #1773e9;
}

.p__MPF {
  background-color: #dbdbdb4f;
  flex: 1;
  height: 1px;
  width: 100%;
}

.mt-30 {
  margin-top: 120px;
}

.input-box-shadow-none:focus {
  box-shadow: none !important;
}
.box-shadow-none {
  box-shadow: none !important;
}
